* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

div,
header,
h1,
h2,
h3,
p,
img {
  border: 3px solid black;
  padding: 1 rem;
}
